@import ./variables.sass
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap')
.custom-Navbar
 background-color:$bg-color !important


.navbar-title 
  padding: none !important
  font-size: 3rem
  font-weight: bold
  font-family:'Bebas Neue', sans-serif
  color:#fff
  @media (max-width: 991.98px) 
    font-size: 1.5rem
  @media (max-width: 767.98px) 
    font-size: 1.2rem

.offcanvas-body 
  background-color: $bg-color 
.navbar-toggler-icon 
 font-size:0.8em
 
.hamburger
 background-color: $bg-color 
.custom-nav-link 
  font-size: 1.5rem
  color:#000
  

  &:hover
   color:#fff
   background-color:#84cdee
   box-shadow: 0 0 10px  rgba(0, 0, 0, 0.3)

.dropdown-menu 
  border: none
  background-color: transparent  
  font-size: 1rem
  color:#000

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

// Define color variables
$btn-color: #84cdee


// Keyframes for pulse animation
@keyframes pulse
  0%
    box-shadow: 0 0 0 0 $btn-color
  100%
    box-shadow: 0 0 0 2em transparent

// Button styling
.btn
  padding: 2em
  display: inline-block
  padding: 12px 16px 10px
  font-size: 18px
  line-height: 1.25
  background-color: #fff
  border-radius: .25rem
  text-decoration: none
  font-weight: 700
  color: $btn-color
  text-align: center
  -webkit-box-shadow: inset 0 0 0 2px $btn-color
  box-shadow: inset 0 0 0 2px $btn-color
  -webkit-transition: all .15s ease
  transition: all .15s ease

  &:hover, &:focus
    color: #fff
    background-color: $btn-color
    -webkit-box-shadow: inset 0 0 0 2em transparent
    box-shadow: inset 0 0 0 2em transparent
    animation: pulse 1s

.button
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  transition: all 0.3s ease

  &:hover
   transform: translateY(-4px)
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)

.margin-top-0
  margin-top: 0 !important


footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent


.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

//About    
.image
  display: flex
  justify-content: center
  align-items: center
  img
    width: 100%
    max-width: 300px // or whatever your maximum size for the image is
    height: auto
    margin: 0 auto
 
  


.sectionAbout
  display: grid
  grid-template-rows: 0.1fr 2fr 0.2fr
  

@media (max-width: 768px) // Adjust the breakpoint to your needs
  .image
    img
      max-width: 100%  

  .sectionAbout
    flex-direction: column
    align-items: center
    justify-content: center      


// blog roll
.blog-list-item.is-featured
  background-color: #84cdee
.blog-list-item header
  display: flex
  margin-bottom: 1em
.blog-list-item .featured-thumbnail
  flex-basis: 35%
  margin: 0 1.5em 0 0

.blog-list-item
  display: flex
  flex-direction: column
  height: 100% // Make the items take full height
  margin-bottom: 1em
  header
    min-height: 4em

  .post-meta
    flex-grow: 1 // This will push everything else to the bottom

.photo-grid 
    display: grid
    gap: 7px
    grid-template-columns: repeat(auto-fill, MinMax(180px, 1fr))
    justify-content: center
    padding:1em

 
.photo-item
  position: relative
  overflow: hidden
  img
    width: 100%
    height: auto
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out
    display: block
    margin-left: auto // These two lines ensure
    margin-right: auto

  &:hover
    img
      transform: scale(1.1) // Optional: zoom effect on hover
    .photo-caption
      opacity: 1
      visibility: visible

.photo-grid .photo-item:hover 
  img 
    transform: scale(1.1)
    opacity: 0.5 !important
    background-color: rgba(0, 0, 0, 0.6)

@media (max-width: 768px)
  .photo-grid
    grid-template-columns: repeat(auto-fill, MinMax(180px, 1fr))// Adjust column size for mobile
    justify-items: center // This will center the items inside the grid on smaller screens

    .photo-item
      img
        max-width: 100% // Ensure the image is not larger than the container
        height: auto
    

.photo-caption
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  padding: 1em
  background-color: rgba(0, 0, 0, 0.6) // semi-transparent background
  color: white // text color
  text-align: center
  visibility: hidden
  opacity: 0
  transition: visibility 0s, opacity 0.3s linear

body
  background-color: $bg-color

body, html 
  overflow-x: hidden



.typing-title.subheading 
  white-space: nowrap
  overflow: hidden
  border-right: .15em solid #EB4B4C

  @keyframes blink-caret
    from, to
      border-color: transparent
    50%
      border-color: #EB4B4C

  animation: blink-caret .75s step-end infinite


.has-text-weight-semibold
  font-family:"Barlow Condensed", sans-serif

#about 
  font-family:"Barlow Condensed", sans-serif
#blog-title
  font-family:"Barlow Condensed", sans-serif  
#contact-title
 font-family:"Barlow Condensed", sans-serif 
